@{
    ViewBag.Title = "Index";
}

<div class="d-flex flex-column justify-content-center question text-center">
    <h2>Welcome to the HIFIS Client Portal!</h2>
    <p>
        This WebSite will assist you in Registering as a client for HIFIS.<br>
        To begin click "START".
    </p>

    @Html.ActionLink("START", "FullName", "Client", null, new { @class = "btn hifis-primary launch align-self-center" })
</div>




   